body {
    background: url("../images/large.jpg");
    background-size: 30%;
    background-repeat: repeat;
    text-align: center;
    font-family:"Courier New";
}

#instructions-text, #num-row {
    background-color: #ffff;
}

.crystal-image, .sideImg {
    width: 200px;
    height: auto;
    border-style: solid;
    border-width: 8px;  
}

.minerPic{
    width:250px;
    height:auto;
}

#lab-img {border-color: #8e4a72;}
#gems-img {border-color: #6b244d;}
.crystal-image {border-color: #461f33;}

p {
    font-weight: bold;
}